<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.hos.mapper.ItemTestMapper">
	<sql id="Base_Column_List">
		item_id,predict_life,elect_press,elect_forbid,elect_time,self_rate,magnet_rate,hreat_test_yuzhi,hreat_test_width,hreat_test_feel,hreat_test_isfar,hreat_test_forbid,right_test_yuzhi,right_test_width,right_test_feel,right_test_isfar,right_test_forbid,right_test_hign,left_test_yuzhi,left_test_width,left_test_feel,left_test_isfar,left_test_forbid,hbp_location,hbp1,hbp2,hbp3,hp_percent,lvef,lvesv,lvedd,rvd1,rvd2,rvd3,rvd_area,rvfac,tapse,rvs,rvivv,rviva,mid_rv,mid_rvsr
	</sql>
	
	<insert id="add" parameterType="com.cocosh.hos.model.ItemTest">
		insert into hos_item_test(item_id,predict_life,elect_press,elect_forbid,elect_time,self_rate,magnet_rate,hreat_test_yuzhi,hreat_test_width,hreat_test_feel,hreat_test_isfar,hreat_test_forbid,right_test_yuzhi,right_test_width,right_test_feel,right_test_isfar,right_test_forbid,right_test_hign,left_test_yuzhi,left_test_width,left_test_feel,left_test_isfar,left_test_forbid,hbp_location,hbp1,hbp2,hbp3,hp_percent,lvef,lvesv,lvedd,rvd1,rvd2,rvd3,rvd_area,rvfac,tapse,rvs,rvivv,rviva,mid_rv,mid_rvsr)
		values(#{item_id},#{predict_life},#{elect_press},#{elect_forbid},#{elect_time},#{self_rate},#{magnet_rate},#{hreat_test_yuzhi},#{hreat_test_width},#{hreat_test_feel},#{hreat_test_isfar},#{hreat_test_forbid},#{right_test_yuzhi},#{right_test_width},#{right_test_feel},#{right_test_isfar},#{right_test_forbid},#{right_test_hign},#{left_test_yuzhi},#{left_test_width},#{left_test_feel},#{left_test_isfar},#{left_test_forbid},#{hbp_location},#{hbp1},#{hbp2},#{hbp3},#{hp_percent},#{lvef},#{lvesv},#{lvedd},#{rvd1},#{rvd2},#{rvd3},#{rvd_area},#{rvfac},#{tapse},#{rvs},#{rvivv},#{rviva},#{mid_rv},#{mid_rvsr})
	</insert>
	
	<delete id="del">
		delete from hos_item_test where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</delete>
	
	<update id="update" parameterType="com.cocosh.hos.model.ItemTest">
		update hos_item_test 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(item_id)">item_id=#{item_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(predict_life)">predict_life=#{predict_life},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(elect_press)">elect_press=#{elect_press},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(elect_forbid)">elect_forbid=#{elect_forbid},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(elect_time)">elect_time=#{elect_time},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(self_rate)">self_rate=#{self_rate},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(magnet_rate)">magnet_rate=#{magnet_rate},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hreat_test_yuzhi)">hreat_test_yuzhi=#{hreat_test_yuzhi},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hreat_test_width)">hreat_test_width=#{hreat_test_width},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hreat_test_feel)">hreat_test_feel=#{hreat_test_feel},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hreat_test_isfar)">hreat_test_isfar=#{hreat_test_isfar},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hreat_test_forbid)">hreat_test_forbid=#{hreat_test_forbid},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(right_test_yuzhi)">right_test_yuzhi=#{right_test_yuzhi},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(right_test_width)">right_test_width=#{right_test_width},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(right_test_feel)">right_test_feel=#{right_test_feel},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(right_test_isfar)">right_test_isfar=#{right_test_isfar},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(right_test_forbid)">right_test_forbid=#{right_test_forbid},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(right_test_hign)">right_test_hign=#{right_test_hign},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(left_test_yuzhi)">left_test_yuzhi=#{left_test_yuzhi},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(left_test_width)">left_test_width=#{left_test_width},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(left_test_feel)">left_test_feel=#{left_test_feel},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(left_test_isfar)">left_test_isfar=#{left_test_isfar},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(left_test_forbid)">left_test_forbid=#{left_test_forbid},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hbp_location)">hbp_location=#{hbp_location},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hbp1)">hbp1=#{hbp1},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hbp2)">hbp2=#{hbp2},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hbp3)">hbp3=#{hbp3},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hp_percent)">hp_percent=#{hp_percent},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(lvef)">lvef=#{lvef},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(lvesv)">lvesv=#{lvesv},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(lvedd)">lvedd=#{lvedd},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvd1)">rvd1=#{rvd1},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvd2)">rvd2=#{rvd2},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvd3)">rvd3=#{rvd3},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvd_area)">rvd_area=#{rvd_area},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvfac)">rvfac=#{rvfac},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(tapse)">tapse=#{tapse},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvs)">rvs=#{rvs},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rvivv)">rvivv=#{rvivv},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(rviva)">rviva=#{rviva},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(mid_rv)">mid_rv=#{mid_rv},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(mid_rvsr)">mid_rvsr=#{mid_rvsr},</if>
		</set> 
		where item_id=#{item_id}
	</update>
	
	
	
	<select id="queryByItemId" parameterType="String" resultType="com.cocosh.hos.model.ItemTest">
		select 
		<include refid="Base_Column_List" /> 
		from hos_item_test where item_id=#{item_id}
	</select>
	
</mapper>