<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.hos.mapper.OrderHistestMapper">
	<sql id="Base_Column_List">
		id,order_id,type,fazhi,fazhi_width,nofazhi,nofazhi_width,hv_interval,hpb_width,is_damage
	</sql>
	
	<insert id="add" parameterType="com.cocosh.hos.model.OrderHistest">
		insert into hos_order_histest(id,order_id,type,fazhi,fazhi_width,nofazhi,nofazhi_width,hv_interval,hpb_width,is_damage)
		values(#{id},#{order_id},#{type},#{fazhi},#{fazhi_width},#{nofazhi},#{nofazhi_width},#{hv_interval},#{hpb_width},#{is_damage})
	</insert>
	
	<delete id="del">
		delete from hos_order_histest where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</delete>
	
	<delete id="delByOrderId">
		delete from hos_order_histest where order_id=#{order_id};
	</delete>
	
	<update id="update" parameterType="com.cocosh.hos.model.OrderHistest">
		update hos_order_histest 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(order_id)">order_id=#{order_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(type)">type=#{type},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(fazhi)">fazhi=#{fazhi},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(fazhi_width)">fazhi_width=#{fazhi_width},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(nofazhi)">nofazhi=#{nofazhi},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(nofazhi_width)">nofazhi_width=#{nofazhi_width},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hv_interval)">hv_interval=#{hv_interval},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(hpb_width)">hpb_width=#{hpb_width},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(is_damage)">is_damage=#{is_damage},</if>
		</set> 
		,modify_date=now() where id=#{id}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.hos.model.OrderHistest">
		select 
		<include refid="Base_Column_List" /> 
		from hos_order_histest 
		<where>
			<if test="keywords!=null and keywords!=''">name like '%${keywords}%'</if>
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by ${orderField} 
				 <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by create_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryById" parameterType="String" resultType="com.cocosh.hos.model.OrderHistest">
		select 
		<include refid="Base_Column_List" /> 
		from hos_order_histest where id=#{id}
	</select>
	
	<select id="queryByOrderId" parameterType="String" resultType="com.cocosh.hos.model.OrderHistest">
		select 
		<include refid="Base_Column_List" /> 
		from hos_order_histest where order_id=#{order_id}
	</select>
	
</mapper>